body{
    background-color: #adc4e2;
    display: flex;
    text-align: center;
    justify-content: center;
}
#calculator{
    border: 3px solid rgb(19, 16, 16);
    border-radius: 5px;
    width: 200px;
    
}
#display{
    border: 2px solid black;
    margin: 10px;
    width: 85%;
    font-size: 25px;
}
.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button{
    width: 45px;
    height: 45px;
  margin: 3px;
  border-radius: 5px;
  font-size: 25px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
}